#root{
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  
  box-sizing:border-box;
  border: 2px solid rgb(4, 64, 54);
  padding: 10px;
  width: 100%;
  height: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  --textColor : rgb(30, 69, 30);
  --mainBgColor: rgb(226, 226, 234)
  --borderColor: rgb(30, 69, 30)
}

.todoMain{
  background-color:var(--mainBgColor);
  width:100%;
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(111, 207, 200);
}

h2{
color: var(--textColor);
}
#formContainer{
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.inputForm{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(192, 243, 224);
}
.taskInput{
  min-width: 200px;
  height: 40px;
  flex-grow: 1;
  border-radius: 10px;
  border: .5px solid,lightgray;
  margin: 10px;
  padding-left: 10px;
}

.addTask{
  background-color: rgb(111, 207, 200);
  height: 40px;
  margin-right: 10px;
}
.taskList{
  background-color: rgb(192, 243, 224);
  color: var(--textColor);
  width: 100%;
  margin: 10px;
  overflow: auto;
}
ul{
  list-style:decimal;
}
li{
  display: flex;
  justify-content:space-between;
  margin: 10px;
  font-size: medium;
  font-weight: 500;
}
.btnContainer{
display: flex;
justify-content: space-around;
align-items: center;
min-width: 200px;
}
 .btnContainer button{
  height: 40px;
  border: none;
  border-radius: 20px
 }
 #editBtn{

 }
 #deleteBtn{

 }